html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background: #eff7f6; */
  background: transparent;
}
a {
  text-decoration: none;
  text-transform: none;
  text-align: center;
}
main {
  height: 100vh;
  padding-top: 64px;
  max-width: 100vw;
}
